/* Fix utama */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Membuat main konten mengisi ruang tersisa */
main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  align-items: center;
  gap: 40px;
  padding: 50px;
}

.about-text {
  color: white;
  line-height: 1.8;
}

.about img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.nama-owner {
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 4%;
  padding-top: 4%;
}

/* Gaya teks untuk judul */
.tentang-saya-h {
  font-style: italic;
  font-size: 30px;
  color: aliceblue;
  padding-left: 4%;
  padding-top: 4%;
}

/* Gaya teks untuk paragraf */
.tentang-saya-p {
  font-size: 20px;
  color: aliceblue;
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
}
@media (max-width: 768px) {
  .about {
    
    grid-template-columns: 1fr; 
    padding: 20px;
    text-align: center; 
  }

  .about-text {
      text-align: left; 
  }

}
.about-text {
  color: white;
  line-height: 1.8;
}

.about img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.nama-owner, .tentang-saya-h {
  font-style: italic;
  font-size: 30px;
  font-weight: bolder;
  color: aliceblue;
  padding-left: 4%;
  padding-top: 4%;
}

.tentang-saya-p {
  font-size: 20px;
  color: aliceblue;
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
}