/* ================= GLOBAL ================= */
html, body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #000;
  color: #fff;
}

/* ================= NAVBAR ================= */
.navbar {
  background: transparent !important;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 25px;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  opacity: 0.6;
}
/* ================= ABOUT COMPANY ================= */
.about-company {
  padding: 80px 40px;
}

.about-company-container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.about-company-container video {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.about-company-text {
  flex: 1;
}

/* ================= LAYANAN ================= */
.judul-layanan {
  text-align: center;
  font-size: 60px;
  margin: 80px 0 40px;
}

.layanan {
  display: grid;
  margin-top: 50px;
  padding-left: 70px;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
  /* padding: 60px 80px; */
  align-items: center;
  margin-bottom: 70px;
}

.layanan h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.layanan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.layanan li {
  font-size: 16px;
  line-height: 1.8;
}

/* ================= ABOUT SECTION ================= */
.about {
  display: grid;
  grid-template-columns: 1fr 400px;
  gap: 40px;
  padding: 50px;
}

.about img {
  width: 100%;
  border-radius: 5px;
}

.about-text {
  line-height: 1.8;
}

/* ================= TEXT STYLE ================= */
.nama-owner{
  /* font-style: italic; */
  font-size: 30px;
  font-weight: bold;
  color: aliceblue;
}
.tentang-saya-h {
  /* font-style: italic; */
  font-size: 26px;
}

.tentang-saya-p {
  font-size: 18px;
  color: aliceblue;
  text-align: justify;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
  }

  .about-company {
    padding: 40px 20px;
  }

  .about-company-container {
    flex-direction: column;
    text-align: center;
  }

  .judul-layanan {
    font-size: 38px;
  }

  .layanan {
    grid-template-columns: 1fr;
    gap: 40px;
    padding: 40px 20px;
    text-align: center;
  }

  .about {
    grid-template-columns: 1fr;
    padding: 30px 20px;
    text-align: center;
  }

  .tentang-saya-p {
    text-align: left;
    font-size: 16px;
  }
}
