.navbar {
  background: transparent !important;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 25px;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  opacity: 0.6;
}/* WRAPPER */
.portfolio-detail {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

/* IMAGE */
.portfolio-image {
  margin-bottom: 30px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid rgba(255,255,255,0.15);
}

/* TEXT */
.portfolio-text {
  max-width: 800px;
  margin-right: 100px;
  margin-bottom: 30px;
  /* margin: 0 auto 140px auto; */
}

.portfolio-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  display: block;
  font-style: italic;
  color: #bbb;
  margin-bottom: 30px;
}

.portfolio-text p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}
.portfolio-detail .designer{
  justify-content: end;
  margin-bottom: 30px;
  margin-right: 50px;
}
.designer {
  display: block;
  margin-top: 30px;
  font-style: italic;
  text-align: end;
}

.designer a {
  color: #fff;
  text-decoration: none;
}


/* RESPONSIVE */
/* ===== MOBILE VIEW ===== */
@media (max-width: 576px) {

  /* NAVBAR MOBILE SPACING */
  .navbar {
    margin-top: 20px;
    padding: 20px 18px;
  }

  /* LOGO / BRAND */
  .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 18px; /* kalau logo text */
  }

  .navbar-brand img {
    max-height: 32px; /* aman di mobile */
  }

  /* BURGER ICON */
  .navbar-toggler {
    padding: 6px 8px;
    border: none;
  }

  .navbar-toggler-icon {
    width: 22px;
    height: 22px;
  }



  /* WRAPPER */
  .portfolio-detail {
    padding: 60px 15px;
  }

  /* IMAGE */
  .portfolio-image {
    margin-bottom: 20px;
  }

  /* TEXT */
  .portfolio-text {
    max-width: 100%;
    margin-bottom: 40px;
  }

  .portfolio-text h1 {
    font-size:32px;
    line-height: 1.3;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .portfolio-text p {
    font-size: 15px;
    line-height: 1.7;
    text-align: justify; /* lebih nyaman di HP */
  }

  /* DEV / DESIGNER */
  .dev {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .designer {
    text-align: left;
    margin-bottom: 30px;
    font-size: 14px;
  }

}
