.navbar {
  background: transparent !important;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 25px;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  opacity: 0.6;
}
.nama-project {
    
    padding-left : 30px;
    padding-top:10px;
    color: #fff;
   
}

.designby {
    padding: 30px 25px;
    padding-bottom: 0;
    max-width: 400px;
    margin: 40px 40px 40px auto; /* atas 40px, kanan 0, bawah 40px, kiri 40px */
    /* hilangkan margin auto agar tidak tengah */
    font-family: "Helvetica", sans-serif;
    align-items: end;
    justify-content: end;
}

.designby h1 {
    font-size: 28px;
    margin-bottom: 8px;
    color: #ffffff;
}

.designby span {
    display: block;
    font-size: 16px;
    font-style: italic;
    color: inherit;
    margin-bottom: 20px;
}

.designby .deskripsi p {
    line-height: 1.6;         /* jarak antar baris */
    font-size: 15px;
    color: #fff;
    text-align: justify;
}

.nama-project span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 0%;
}
.gambar1{
    display: flex;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}
.gambar1 img{
    width: 700px;
}
.deskar {
    padding-top: 30px;
    padding-left: 325px;
    padding-right: 325px;
    text-align: justify;
}
.judul {
    padding-top: 20px;
    padding-left: 325px;
}
.deskar p {
    font-size: 20px;
}
.gambar2{
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    padding-right: 33px;
}
.gambar2 img{
    width: 700px;
    border: 0.5px solid #ffffff59;
}
.gambar3{
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.gambar3 img{
    width: 700px;
    border: 0.5px solid #ffffff59;
}
.gambar4{
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.gambar4 img{
    width: 700px;
    border: 0.5px solid #ffffff59;
}
.gambar5{
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
}
.gambar5 img{
    width: 700px;
    border: 0.5px solid #ffffff59;
}
.follow {
  padding-right: 20px;
}