/* WRAPPER */
.portfolio-detail {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

/* IMAGE */
.portfolio-image {
  margin-bottom: 100px;
}

.portfolio-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid rgba(255,255,255,0.15);
}

/* TEXT */
.portfolio-text {
  max-width: 800px;
  margin: 0 auto 140px auto;
}

.portfolio-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  display: block;
  font-style: italic;
  color: #bbb;
  margin-bottom: 30px;
}

.portfolio-text p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}
.portfolio-detail .designer{
  justify-content: end;
  margin-bottom: 30px;
  margin-right: 50px;
}
.designer {
  display: block;
  margin-top: 30px;
  font-style: italic;
  text-align: end;
}

.designer a {
  color: #fff;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .portfolio-text h1 {
    font-size: 34px;
  }

  .portfolio-text p {
    font-size: 16px;
  }
}
