.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
  padding: 20px;
}

.card {
  background: none;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 220px;         /* tinggi gambar seragam */
  object-fit: cover;     /* biar crop rapi */
  border-radius: 12px;
  display: block;
}

/* Judul */
.card h3 {
  color: #fff;
  font-size: 17px;
  margin: 10px 5px 5px;
}

/* Kategori / nama user */
.card p {
  color: #ccc;
  font-size: 13px;
  margin: 0 5px 10px;
}
