.navbar {
  background: transparent !important;
  padding-top: 20px;
  padding-left: 80px;
  padding-right: 80px;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}

.navbar .nav-link {
  color: white !important;
  margin-left: 25px;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: 0.2s;
}

.navbar .nav-link:hover {
  opacity: 0.6;
}/* WRAPPER */
.portfolio-detail {
  max-width: 1100px;
  margin: 0 auto;
  padding: 80px 20px;
}

/* IMAGE */
.portfolio-image {
  margin-bottom: 30px;
}
.portfolio-video {
  margin-bottom: 30px;
}
.portfolio-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


.portfolio-image img {
  width: 100%;
  height: auto;
  display: block;
  border: 1px solid rgba(255,255,255,0.15);
}

/* TEXT */
.portfolio-text {
  max-width: 800px;
  margin-bottom: 50px;
  /* margin: 0 auto 140px auto; */
}

.portfolio-text h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.subtitle {
  display: block;
  font-style: italic;
  color: #bbb;
  margin-bottom: 30px;
}

.portfolio-text p {
  font-size: 18px;
  line-height: 1.8;
  text-align: justify;
}
.dev{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.designer {
  display: block;
  font-style: italic;
  margin-bottom: 50px;
  text-align: end;
}

.designer a {
  color: #fff;
  text-decoration: none;
}
.desainer a {
  color: #fff;
  text-decoration: none;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .portfolio-text h1 {
    font-size: 34px;
  }

  .portfolio-text p {
    font-size: 16px;
  }
}
